config/unicorn.rb
*.out
*.back
*.bak
.bundle
db/*.sqlite3
db/*.sqlite3-journal
log/*
tmp/
backups/*
*.swp
.rbenv-version
.directory
config/database.yml
.idea
*.DS_Store
.chef
vendor/bundle/*
.secret
*.log
